<!-- <h1>Liste de pokemons</h1> -->

<!-- <input #input (keyup.enter)="selectPkmn(input.value)" type="number" />
<button (click)="selectPkmn(input.value)">GO</button> -->

<!-- conditionner un affichage -->
<!-- <p *ngIf="pkmnSelected">Vous avez sélectionné le pokemon: {{ pkmnSelected?.name }}</p> -->
<!-- <p *ngIf="!pkmnSelected">pokemon inconnu</p> -->

<!-- boucler -->
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Pokédex</a>
    </div>
</nav>
<router-outlet></router-outlet>

<!-- 2.18 -->
